In [1]:
import numpy as np

test  = np.linspace(0, 10, 5)

In [2]:
import mph

client = mph.start()
model = client.create('empty')
model.save()

In [ ]:
client = mph.start()
model = client.load('template_ellipsoid_GAGs.mph')

modeljava = model.java

# export geometry
# model.component(<ctag>).geom(<tag>).exportFinal(<filename>)

modeljava.component('comp1').geom('geom1').exportFinal('test_export.mphbin')
model.clear()

In [7]:
client = mph.start()
model = client.load('template_ellipsoid_GAGs.mph')

modeljava = model.java

## create for loop for each configs

radius_list = [5,6,7,8]

for radius in radius_list:

    # change parameter 
    modeljava.param().set('rposition', str(radius))
    modeljava.component('comp1').geom('geom1').run()
    modeljava.component('comp1').geom('geom1').exportFinal(f'test_export_{radius}.mphbin')
    # modeljava.component('comp1')
model.clear()

In [8]:
import pandas as pd

df1_read = pd.read_csv('coordinates_spreadsheets/251113_databynr_1.csv')

In [9]:
df1_read

,Unnamed: 0,nx,nr,nt,np,x,r,t,p,w,wj,x_deg,p_deg,t_deg
0,36,0,1,0,0,0.000000,5.816195,0.000000,-0.506268,0.000005,0.000027,0.0,-29.006995,90.000000
1,37,0,1,0,1,0.000000,5.816195,0.000000,-0.387323,0.000026,0.000152,0.0,-22.191956,90.000000
2,38,0,1,0,2,0.000000,5.816195,0.000000,-0.144403,0.000038,0.000223,0.0,-8.273709,90.000000
3,39,0,1,0,3,0.000000,5.816195,0.000000,0.144403,0.000038,0.000223,0.0,8.273709,90.000000
4,40,0,1,0,4,0.000000,5.816195,0.000000,0.387323,0.000026,0.000152,0.0,22.191956,90.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
175,961,5,1,4,1,0.523599,5.816195,0.254123,-0.181792,0.000070,0.000406,30.0,-10.415931,75.278377
176,962,5,1,4,2,0.523599,5.816195,0.254123,-0.067777,0.000102,0.000595,30.0,-3.883316,75.278377
177,963,5,1,4,3,0.523599,5.816195,0.254123,0.067777,0.000102,0.000595,30.0,3.883316,75.278377
178,964,5,1,4,4,0.523599,5.816195,0.254123,0.181792,0.000070,0.000406,30.0,10.415931,75.278377
179,965,5,1,4,5,0.523599,5.816195,0.254123,0.237620,0.000012,0.000071,30.0,13.614611,75.278377

In [13]:
# for loop in df1_read for first 5 rows
for index, row in df1_read.head(5).iterrows():
    r_coord = row['r']
    xdeg_coord = row['x_deg']
    tdeg_coord = row['t_deg']
    pdeg_coord = row['p_deg']
    print(f'Row {index}: r={r_coord}, x_deg={xdeg_coord}, t_deg={tdeg_coord}, p_deg={pdeg_coord}')

Row 0: r=5.816195136106455, x_deg=0.0, t_deg=90.0, p_deg=-29.006994683318364
Row 1: r=5.816195136106455, x_deg=0.0, t_deg=90.0, p_deg=-22.19195571366639
Row 2: r=5.816195136106455, x_deg=0.0, t_deg=90.0, p_deg=-8.273709082068907
Row 3: r=5.816195136106455, x_deg=0.0, t_deg=90.0, p_deg=8.273709082068907
Row 4: r=5.816195136106455, x_deg=0.0, t_deg=90.0, p_deg=22.19195571366639

In [ ]:
import pandas as pd

df1_read = pd.read_csv('coordinates_spreadsheets\251118_coor_grid6_3_6_6_nonzero.csv')

client = mph.start()
model = client.load('251117_template_ellipsoid_GAGs.mph')

modeljava = model.java

## create for loops for all configs

#radius_list = [5,6,7,8]

for index, row in df1_read.head(2).iterrows():
    r_coord = row['r']
    xdeg_coord = row['x_deg']
    tdeg_coord = row['t_deg']
    pdeg_coord = row['p_deg']

    r_index = int(row['nr'])
    x_index = int(row['nx'])
    t_index = int(row['nt'])
    p_index = int(row['np'])

# for radius in radius_list:

    # change parameter r_coord
    modeljava.param().set('rposition', str(r_coord))
    modeljava.param().set('angle_xi', str(xdeg_coord))
    modeljava.param().set('angle_theta', str(tdeg_coord))
    modeljava.param().set('angle_phi', str(pdeg_coord))
    
    modeljava.component('comp1').geom('geom1').run()

    modeljava.study('std3').run()

    #modeljava.save(f'run_test/251117_template_{r_index}{x_index}{t_index}{p_index}.mphbin')
    model.save(f'run_test/251117_template_{r_index}{x_index}{t_index}{p_index}.mph')

    #modeljava.component('comp1').geom('geom1').exportFinal(f'export_test/test_export_{r_index}{x_index}{t_index}{p_index}.mphbin')
    # modeljava.component('comp1')
model.clear()

NameError: name 'df1_read' is not defined

In [16]:
client.clear()